html{
    width: 100vw;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    text-align: center;
    /* width: 100%;
    height: 100%; */
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    font-family: Arial, Helvetica, sans-serif;
}

/*HEADER*/
/* #div-header {
    border: 10px solid black;
} */

#div-header {
    display: flex;
    flex-direction: column;
    position: fixed;
    /* top: 0; */
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    height: auto;
    width: 100%;
    background-color: gray;
    transition: 0.9s;
    font-weight: bolder;
    border-bottom: 2px solid black;
    z-index: 1;
}

/* header {
    /* display: flex;
    flex-direction: column; */
    /* border: 1px solid black; */
    /*width: 100%; 
} */

#div-header header #text-header {
    position: none;
    margin-top: 2rem;
    transition: 0.9s;
    font-size: 50px;
    color: white;
}

#div-header header img {
    margin-top: -2rem;
    border-radius: 100%;
    max-width: 120px;
    max-height: 100px;
    transition: 0.2s;
}

#div-header header img:hover {
    border: 2px solid black;
}

/*SECTION DIVS*/

/*ABOUT ME SECTION*/
.about-me-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 15rem;
    width: auto;
    height: auto;
    /* background-color: lightgray;  */
    padding: 2rem 2rem 8rem 2rem;  
}

.about-me-div span {
    color: green;
    font-style: italic;
}

.div-paragraph {
    /* border: 1px solid black; */
    width: auto;
    padding: 2rem 20rem 2rem 20rem; /*top, right, bottom, left*/
}

.about-me-div h1 {
    font-size: 60px;
    font-style: italic;
}

.about-me-div p {
    font-size: 20px;
    color: gray;
    text-align: justify;
    text-justify: inter-word;
}

.about-me-div .second-paragraph{
    color: black;
    padding-top: 4rem;
    /* border: 1px solid black; */
    /* padding-bottom: 4rem; */
}

.about-me-div .third-paragraph {
    padding-top: 4rem;
}

.about-me-div .fourth-paragraph{
    color: black;
    padding-top: 4rem;
    /* padding-bottom: 4rem; */
}

/* .about-me-div .div-paragraph #line {
    text-align: center;
    opacity: 0;
    transition: 0.5s;
    color: black;
}

.about-me-div .div-paragraph #line:hover {
    opacity: 100%;
    font-weight: bolder;
    color: black;
} */

/*SKILLS SECTION*/
.skills-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    background-color: lightgray;
    padding-top: 6rem;
    padding-bottom: 8rem;
    box-shadow: 1px 1px 10px 2px black;
    /* border: 10px solid black; */
}

.skills-div h1 {
    font-size: 40px;
    font-style: italic;
}

.skills-div h2 {
    font-size: 40px;
    font-weight: bolder;
}

.skills-div .skills {
    /* border: 1px solid black; */
    height: auto;
    width: auto;
    /* padding: 2rem 2rem 2rem 2rem; top, right, bottom, left */
}

.skills-div .skills section {
    margin-top: 3rem;
    width: auto;
    height: auto;
    padding: 2rem 1rem 2rem 1rem;
    background-color: lightgray;
    border: 0.3px solid black;
    border-radius: 14px;
    transition: 0.3s;
}

.skills-div .skills section:hover {
    /* border: 1px solid white; */
    border-radius: 14px;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.25); /*horizontal offset, vertical offset, blur, color*/
    animation-name: bg;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes bg {
    from {
        background-color: lightgray;
    }
    to {
        background-color: white;
    }
}

.skills-div .skills span{
    color: gray;
}

.skills-div .skills ul li {   /* LI */
    /* display: inline-block; */
    /* margin-right: 10px; */
    text-align: justify;
    text-justify: inter-word; 
    font-size: 18px;
    padding-top: 1rem;
}

/*PROJECTS SECTION*/
.projects-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    background-color: none;
    padding-top: 6rem;
    padding-bottom: 6rem;
    box-sizing:border-box;
}

.projects-div h1 {
    font-size: 40px;
    font-style: italic;
}

.projects-div .project-text-div {
    /* border: 1px solid black; */
    margin-top: 2rem;
    height: auto;
    width: auto;
    padding: 2rem 10rem 2rem 10rem;
    /* border-bottom: 1px solid black; */
}

.projects-div .project-text-div p {
    font-size: 18px;
    text-align: justify;
    /* text-justify: inter-word; */
}

.projects-div .project-text-div span {
    font-style: italic;
    color: green;
}

.projects-div .project-text-div #youtube {
    color: red;
    font-weight: bolder;
    font-style: normal;
}

.projects-div .project-text-div #github {
    color: darkblue;
    font-weight: bolder;
    font-style: normal;
}

.projects-div .project-text-div #cool-text {
    text-decoration: underline;
    /* font-weight: bolder; */
    color: black;
    font-style: normal;
}

.contain{
    opacity: 100%;
    /* border: 1px solid black; */
    margin-top: 2rem;
    padding: 5rem 5rem 5rem 5rem;
    width: 100%;
    height: auto;
    background-color: none;
    transition: 1s;
}

.contain:hover {
    background-color: rgb(204, 201, 201);
    border: 2px solid gray;
    border-radius: 2px;
}

/* Slideshow container */
.slideshow-container {
    max-width: 40rem;
    max-height: 40rem;
    position: relative;
    margin: auto;
    /* margin-top: 5rem; */
    /* border: 1px solid black; */
    /* transition: 1; */
}
  /* Hide the images by default */
.mySlides {
    display: none;
}
  
  /* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 25px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}
  
  /* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
  /* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: lightgray;
    opacity: 75%;
}
  
  /* Caption text */
.text {
    color: black;
    font-size: 19px;
    font-weight: bold;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
  
  /* Number text (1/3 etc) */
.numbertext {
    color: black;
    font-size: 18px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
  
  /* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
    background-color: #717171;
}
  
  /* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/*FOOTER*/
#footer {
    display: flex;
    flex-direction: row;
    /* border: 5px solid red;  */
    width: 100%;
}

#footer footer {
    background-color: lightgray;
    width: 100%;
    height: auto;
    border-top: 2px solid gray;
    padding-bottom: 2rem;
    padding-top: 1rem;
    border: 1px solid black;
}

#footer footer a {
    color: black;
    text-decoration: none;
    font-size: 18px;
}

#footer footer #fb {
    padding-right: 3rem;
    transition: 1s;
}

#footer footer #fb:hover {
    color: blue;
    text-decoration: underline;
}

#footer footer #twt {
    padding-left: 3rem;
    transition: 1s;
}

#footer footer #twt:hover {
    color: skyblue;
    text-decoration: underline;
}

#footer footer #git {
    transition: 1s;
}

#footer footer #git:hover {
    color: darkgray;
    text-decoration: underline;
}


/*CUSTOM SCROLLBAR*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: gray; 
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px lightgrey; 
    border-radius: 10px;
}